In [377]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn import ensemble
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import PolynomialFeatures
from sklearn import preprocessing 
from sklearn.preprocessing import LabelEncoder
from sklearn.externals import joblib
from sklearn.metrics import classification_report
from sklearn.linear_model import Ridge
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier
import xgboost as xg

In [378]:
df = pd.read_csv('dataset.csv')

In [379]:
del df['PRODUCT ID']
del df['Customer Id']
del df['customer name']

In [380]:
df.head()

,PRODUCT NAME,LOCATION,RAM (in GB),CPU,GPU,warranty(months),cost,quantiy sold,Total Amount
0,Alienware 13\n,Delhi,8,i7,nvidia,36,86000,100,8600000
1,Alienware 15,Punjab,16,i7,nvidia,24,100000,120,12000000
2,inspiron 15,Chennai,8,i5,AMD,12,65000,300,19500000
3,XPS 14,Raipur,16,i7,nvidia,24,90000,200,18000000
4,insperon 3000,Delhi,4,i3,nvidia,12,47000,50,2350000

In [381]:
class MultiColumnLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns # array of column names to encode

    def fit(self,X,y=None):
        return self # not relevant here

    def transform(self,X):
        '''
        Transforms columns of X specified in self.columns using
        LabelEncoder(). If no columns specified, transforms all
        columns in X.
        '''
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = LabelEncoder().fit_transform(output[col])
        else:
            for colname,col in output.iteritems():
                output[colname] = LabelEncoder().fit_transform(col)
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

In [387]:
features_df = ['CPU']
df = MultiColumnLabelEncoder(columns = ['CPU']).fit_transform(df)
df

,PRODUCT NAME,LOCATION,RAM (in GB),CPU,GPU,warranty(months),cost,quantiy sold,Total Amount
0,Alienware 13\n,Delhi,8,2,nvidia,36,86000,100,8600000
1,Alienware 15,Punjab,16,2,nvidia,24,100000,120,12000000
2,inspiron 15,Chennai,8,1,AMD,12,65000,300,19500000
3,XPS 14,Raipur,16,2,nvidia,24,90000,200,18000000
4,insperon 3000,Delhi,4,0,nvidia,12,47000,50,2350000
5,insperon 5000,Noida,8,2,nvidia,36,87000,120,10440000
6,insperon 7000,Chennai,16,2,AMD,12,89000,100,8900000
7,XPS 35,Kerala,8,1,nvidia,24,66000,200,13200000
8,Xps 35,Assam,16,2,nvidia,12,88000,200,17600000
9,Xpd 6,Bilaspur,8,2,AMD,24,82000,70,5740000
10,Alienware 13\n,Delhi,16,1,nvidia,24,79000,100,7900000
11,Alienware 15,Punjab,8,2,AMD,24,78000,80,6240000
12,inspiron 15,Chennai,16,0,nvidia,12,62000,60,3720000
13,XPS 14,Raipur,8,1,nvidia,36,78000,200,15600000
14,insperon 3000,Delhi,16,2,AMD,24,91000,80,7280000
15,insperon 5000,Noida,2,0,AMD,12,30000,100,3000000
16,insperon 7000,Chennai,8,0,nvidia,36,53000,70,3710000
17,XPS 35,Kerala,16,1,nvidia,24,75000,85,6375000
18,Xps 35,Assam,4,2,nvidia,24,57000,55,3135000
19,Xpd 6,Bilaspur,16,2,nvidia,24,86000,60,5160000
20,XPS 12,Chennai,8,2,AMD,24,73000,150,10950000
21,XPS 13,Kerala,16,1,AMD,36,72000,50,3600000
22,XPS 44,Assam,8,2,AMD,12,87000,60,5220000
23,XPS 55,Bilaspur,4,2,nvidia,24,68000,90,6120000
24,XPS 22,Jaipur,4,0,AMD,12,43000,80,3440000
25,XPS 23,Bihar,4,1,AMD,12,63000,90,5670000
26,XPS 24,Jharkhand,8,0,AMD,24,53000,120,6360000
27,XPS 25,Manipur,4,0,nvidia,12,42000,125,5250000
28,XPS 26,Kashmir,8,0,AMD,12,55000,80,4400000
29,XPS 27,Kanyakumari,4,1,AMD,12,66000,100,6600000
...,...,...,...,...,...,...,...,...,...
70,XPS 552,Bilaspur,16,1,nvidia,24,65000,120,7800000
71,XPS 34,Kota,32,2,nvidia,24,156000,160,24960000
72,XPS 13,Delhi,32,2,AMD,36,162000,110,17820000
73,Alienware 13\n,Punjab,16,2,AMD,24,86000,90,7740000
74,Alienware 15,Chennai,8,1,nvidia,12,60000,120,7200000
75,inspiron 15,Raipur,8,1,nvidia,12,66000,125,8250000
76,XPS 14,Delhi,4,0,nvidia,12,22000,80,1760000
77,insperon 3000,Noida,16,1,nvidia,24,70000,120,8400000
78,insperon 5000,Chennai,8,1,nvidia,24,66000,110,7260000
79,insperon 7000,Kerala,8,2,nvidia,36,85000,120,10200000
80,XPS 35,Assam,8,2,nvidia,24,86000,120,10320000
81,Xps 35,Bilaspur,4,1,nvidia,24,48000,90,4320000
82,Xpd 6,Delhi,8,1,nvidia,24,66000,100,6600000
83,Alienware 13\n,Punjab,2,0,AMD,12,22000,70,1540000
84,Alienware 15,Chennai,4,1,nvidia,12,50000,80,4000000
85,inspiron 15,Raipur,8,1,nvidia,12,66000,100,6600000
86,XPS 14,Delhi,16,2,nvidia,36,82000,150,12300000
87,insperon 3000,Noida,8,2,nvidia,24,70000,120,8400000
88,insperon 5000,Chennai,8,0,AMD,12,54000,80,4320000
89,insperon 7000,Kerala,8,1,nvidia,12,66000,100,6600000
90,XPS 35,Assam,8,1,AMD,12,58000,120,6960000
91,Xps 35,Bilaspur,16,2,nvidia,24,68000,125,8500000
92,Xpd 6,Chennai,8,1,AMD,12,66000,100,6600000
93,Alienware 35,Kerala,16,2,nvidia,24,82000,100,8200000
94,Alienware 53,Assam,4,0,nvidia,12,36000,60,2160000
95,Alienware 8,Bilaspur,8,2,nvidia,36,65000,110,7150000
96,Alienware 90,Jaipur,16,2,AMD,36,66000,120,7920000
97,Alienware 2,Bihar,8,1,nvidia,24,68000,100,6800000
98,Alienware 1,Jharkhand,16,2,AMD,36,80000,100,8000000
99,Alienware 93,Manipur,8,1,nvidia,24,66000,90,5940000

In [383]:
X = df[features_df]
y = df['quantiy sold'].as_matrix()

In [384]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [385]:
#regr = linear_model.LinearRegression()# Train the model using the training sets
regr = Ridge(alpha=1.0)
regr.fit(X_train, y_train)
regr.coef_

array([13.50119904])

In [386]:
y_pred = regr.predict(X_test)
y_pred

array([117.16512504, 103.663926  ,  90.16272696, 103.663926  ,
       117.16512504, 103.663926  , 117.16512504, 103.663926  ,
        90.16272696, 117.16512504, 103.663926  , 103.663926  ,
       117.16512504,  90.16272696, 103.663926  ,  90.16272696,
       103.663926  , 103.663926  , 103.663926  , 103.663926  ,
       103.663926  , 117.16512504, 103.663926  , 103.663926  ,
       117.16512504, 103.663926  ,  90.16272696,  90.16272696,
       117.16512504,  90.16272696])

In [375]:
y_test

array([120,  80,  90,  90, 100,  85, 120, 100,  80,  90, 100, 120, 100,
       120,  70, 120, 100, 100, 110, 100, 300,  90, 100, 110,  60,  70,
        60, 125, 140,  90])

In [376]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(y_test, y_pred))
rms
#rms = sqrt(mean_squared_error(X_true))

41.71926725968548